USE [master]
GO
/****** Object:  Database [QLHV]    Script Date: 20/05/2024 1:51:17 CH ******/
CREATE DATABASE [QLHV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLHV', FILENAME = N'D:\sqlserver\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLHV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLHV_log', FILENAME = N'D:\sqlserver\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLHV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLHV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLHV]
GO
/****** Object:  Table [BANGDIEM]    Script Date: 20/05/2024 1:51:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BANGDIEM](
	[MaHV] [char](10) NOT NULL,
	[MaLop] [char](10) NOT NULL,
	[Diem] [float] NULL,
	[KetQua] [char](10) NULL,
	[XepLoai] [char](10) NULL,
	[GhiChu] [varchar](100) NULL,
 CONSTRAINT [PK_BANGDIEM] PRIMARY KEY CLUSTERED 
(
	[MaHV] ASC,
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [BIENLAI]    Script Date: 20/05/2024 1:51:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [BIENLAI](
	[MaBL] [char](10) NOT NULL,
	[MaHV] [char](10) NOT NULL,
	[ThanhTien] [decimal](18, 0) NULL,
	[MienGiam] [decimal](18, 0) NULL,
 CONSTRAINT [PK_BIENLAI] PRIMARY KEY CLUSTERED 
(
	[MaBL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [GIAOVIEN]    Script Date: 20/05/2024 1:51:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [GIAOVIEN](
	[MaGV] [char](10) NOT NULL,
	[HoTen] [varchar](50) NULL,
	[NgaySinh] [date] NULL,
	[GioiTinh] [bit] NULL,
	[DiaChi] [varchar](100) NULL,
	[SDT] [numeric](18, 0) NULL,
 CONSTRAINT [PK_GIAOVIEN] PRIMARY KEY CLUSTERED 
(
	[MaGV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [HOCVIEN]    Script Date: 20/05/2024 1:51:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [HOCVIEN](
	[MaHV] [char](10) NOT NULL,
	[MaLop] [char](10) NOT NULL,
	[HoTen] [varchar](50) NULL,
	[GioiTinh] [bit] NULL,
	[NgaySinh] [date] NULL,
	[DiaChi] [varchar](100) NULL,
	[SDT] [numeric](18, 0) NULL,
 CONSTRAINT [PK_HOCVIEN] PRIMARY KEY CLUSTERED 
(
	[MaHV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [KHOAHOC]    Script Date: 20/05/2024 1:51:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [KHOAHOC](
	[MaKH] [char](10) NOT NULL,
	[TenKH] [varchar](30) NULL,
	[NgayBD] [date] NULL,
	[NgayKT] [date] NULL,
 CONSTRAINT [PK_KHOAHOC] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [LOPHOC]    Script Date: 20/05/2024 1:51:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [LOPHOC](
	[MaLop] [char](10) NOT NULL,
	[MaGV] [char](10) NOT NULL,
	[TenLop] [varchar](30) NULL,
	[Phong] [varchar](10) NULL,
	[MaKH] [char](10) NULL,
 CONSTRAINT [PK_LOPHOC_1] PRIMARY KEY CLUSTERED 
(
	[MaLop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [TaiKhoan]    Script Date: 20/05/2024 1:51:17 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [TaiKhoan](
	[Username] [varchar](20) NOT NULL,
	[Password] [varchar](30) NULL,
	[PhanQuyen] [varchar](30) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [BANGDIEM] ([MaHV], [MaLop], [Diem], [KetQua], [XepLoai], [GhiChu]) VALUES (N'HV01      ', N'L01       ', 9, N'Pass      ', N'Excellent ', N'Không')
INSERT [BANGDIEM] ([MaHV], [MaLop], [Diem], [KetQua], [XepLoai], [GhiChu]) VALUES (N'HV02      ', N'L01       ', 7, N'Pass      ', N'Good      ', N'Không')
GO
INSERT [BIENLAI] ([MaBL], [MaHV], [ThanhTien], [MienGiam]) VALUES (N'BL01      ', N'HV01      ', CAST(35000000 AS Decimal(18, 0)), CAST(0 AS Decimal(18, 0)))
INSERT [BIENLAI] ([MaBL], [MaHV], [ThanhTien], [MienGiam]) VALUES (N'BL02      ', N'HV02      ', CAST(25000000 AS Decimal(18, 0)), CAST(100000 AS Decimal(18, 0)))
INSERT [BIENLAI] ([MaBL], [MaHV], [ThanhTien], [MienGiam]) VALUES (N'BL03      ', N'HV03      ', CAST(18000000 AS Decimal(18, 0)), CAST(200000 AS Decimal(18, 0)))
GO
INSERT [GIAOVIEN] ([MaGV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SDT]) VALUES (N'GV01      ', N'Tran Thanh Binh', CAST(N'1998-01-01' AS Date), 1, N'48 Vo Van Kiet, Tp.HCM', CAST(2445678578 AS Numeric(18, 0)))
INSERT [GIAOVIEN] ([MaGV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SDT]) VALUES (N'GV02      ', N'Nguyen Thi A', CAST(N'1995-03-05' AS Date), 0, N'24 Pham The Hien, Tp.HCM', CAST(3473573642 AS Numeric(18, 0)))
INSERT [GIAOVIEN] ([MaGV], [HoTen], [NgaySinh], [GioiTinh], [DiaChi], [SDT]) VALUES (N'GV03      ', N'Tran Thi B', CAST(N'1995-07-11' AS Date), 0, N'12 Dao Cam Moc Tp.HCM', CAST(8563344567 AS Numeric(18, 0)))
GO
INSERT [HOCVIEN] ([MaHV], [MaLop], [HoTen], [GioiTinh], [NgaySinh], [DiaChi], [SDT]) VALUES (N'HV01      ', N'L01       ', N'Nguyen Van A', 1, CAST(N'2000-01-20' AS Date), N'111 Nguyen Bieu, Tp.HCM', CAST(23834773 AS Numeric(18, 0)))
INSERT [HOCVIEN] ([MaHV], [MaLop], [HoTen], [GioiTinh], [NgaySinh], [DiaChi], [SDT]) VALUES (N'HV02      ', N'L01       ', N'Bui Anh Tuan', 0, CAST(N'2003-07-10' AS Date), N'21 Ta Quang Buu, Tp.HCM', CAST(45355235 AS Numeric(18, 0)))
INSERT [HOCVIEN] ([MaHV], [MaLop], [HoTen], [GioiTinh], [NgaySinh], [DiaChi], [SDT]) VALUES (N'HV03      ', N'L02       ', N'Tran Thi Chi', 0, CAST(N'2003-05-07' AS Date), N'112 Pham The Hien, Tp.HCM', CAST(23142123 AS Numeric(18, 0)))
GO
INSERT [KHOAHOC] ([MaKH], [TenKH], [NgayBD], [NgayKT]) VALUES (N'KH01      ', N'IELTS 5.0', CAST(N'2024-01-01' AS Date), CAST(N'2025-01-02' AS Date))
INSERT [KHOAHOC] ([MaKH], [TenKH], [NgayBD], [NgayKT]) VALUES (N'KH02      ', N'IELTS 8.0', CAST(N'2024-02-28' AS Date), CAST(N'2025-05-01' AS Date))
INSERT [KHOAHOC] ([MaKH], [TenKH], [NgayBD], [NgayKT]) VALUES (N'KH03      ', N'TOEIC 750', CAST(N'2024-01-15' AS Date), CAST(N'2025-01-14' AS Date))
GO
INSERT [LOPHOC] ([MaLop], [MaGV], [TenLop], [Phong], [MaKH]) VALUES (N'L01       ', N'GV01      ', N'LopPre', N'A302', N'KH01      ')
INSERT [LOPHOC] ([MaLop], [MaGV], [TenLop], [Phong], [MaKH]) VALUES (N'L02       ', N'GV02      ', N'LopF', N'A304', N'KH02      ')
INSERT [LOPHOC] ([MaLop], [MaGV], [TenLop], [Phong], [MaKH]) VALUES (N'L03       ', N'GV03      ', N'LopTOEIC1', N'A102', N'KH03      ')
GO
INSERT [TaiKhoan] ([Username], [Password], [PhanQuyen]) VALUES (N'admin1', N'123123', N'Admin')
INSERT [TaiKhoan] ([Username], [Password], [PhanQuyen]) VALUES (N'user1', N'12345', N'User')
INSERT [TaiKhoan] ([Username], [Password], [PhanQuyen]) VALUES (N'user2', N'123', N'User')
GO
ALTER TABLE [BANGDIEM]  WITH CHECK ADD  CONSTRAINT [FK_BANGDIEM_HOCVIEN1] FOREIGN KEY([MaHV])
REFERENCES [HOCVIEN] ([MaHV])
GO
ALTER TABLE [BANGDIEM] CHECK CONSTRAINT [FK_BANGDIEM_HOCVIEN1]
GO
ALTER TABLE [BANGDIEM]  WITH CHECK ADD  CONSTRAINT [FK_BANGDIEM_LOPHOC1] FOREIGN KEY([MaLop])
REFERENCES [LOPHOC] ([MaLop])
GO
ALTER TABLE [BANGDIEM] CHECK CONSTRAINT [FK_BANGDIEM_LOPHOC1]
GO
ALTER TABLE [BIENLAI]  WITH CHECK ADD  CONSTRAINT [FK_BIENLAI_HOCVIEN] FOREIGN KEY([MaHV])
REFERENCES [HOCVIEN] ([MaHV])
GO
ALTER TABLE [BIENLAI] CHECK CONSTRAINT [FK_BIENLAI_HOCVIEN]
GO
ALTER TABLE [LOPHOC]  WITH CHECK ADD  CONSTRAINT [FK_LOPHOC_GIAOVIEN] FOREIGN KEY([MaGV])
REFERENCES [GIAOVIEN] ([MaGV])
GO
ALTER TABLE [LOPHOC] CHECK CONSTRAINT [FK_LOPHOC_GIAOVIEN]
GO
ALTER TABLE [LOPHOC]  WITH CHECK ADD  CONSTRAINT [FK_LOPHOC_KHOAHOC] FOREIGN KEY([MaKH])
REFERENCES [KHOAHOC] ([MaKH])
GO
ALTER TABLE [LOPHOC] CHECK CONSTRAINT [FK_LOPHOC_KHOAHOC]
GO
USE [master]
GO
